@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root{
    --color-primario:#F5E0B7 ;
    --color-secundario: #540D6E ;
    --de-blanco: #f3d1e5;
    --gradiente-uno: #F487B6;
    --gradiente-dos: #CC59D2;
    --otro: rgb(250, 195, 218);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo{
    display: inline-block;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    padding :15px ;
    margin-left: 15px;
}

nav{
    background: linear-gradient(39.97deg,var(--gradiente-uno) .79%,var(--gradiente-dos) 79.79%);
    height: 80px;
    width: 100%;
    color: #fff;
    position: fixed;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

nav ul{
    float : right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}


li a.active, li a:hover{
    color: rgb(238, 199, 238);
    transition: .5s;
    /* font-weight: bold; */
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px){
    .logo{
        padding-left: 20px;
    }
    nav .ulnav li a{
        font-size: 16px;
    }
    .card{
        display: inline;
    }
    .contenedor-foto{
        display: none;
    }

    .wrapper{
        /* margin-top:10px ; */
        display: flex;
    }
    
    }
   


.wrapper{
    max-height: 600px;
    /* border: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .one{
    min-width: 320px;
    height: 380px;
    /* line-height: 110px; */
    background-color: #fff;
    margin-right: 2px;
}

.wrapper{
    padding:35px 10px 70px 38px ;

}
.one{
    border: 20px solid  var(--de-blanco) ; 
}
.wrapper .p{
    background-color : var(--de-blanco);
}

.p{
    color: #551a8b;
    
    border: 20px solid  #fff; 
}

.blog-img{
    /* background-image: url(/images/apy.png);
    border: 1px solid #fff; */
    /* background-image: url(/images/apy.png); */
    width: 100%;
    height: 140px;
    background-size: cover;
}
.titulo-blog{
    /* padding-top:x; */
    padding-top: 10px;
    text-align: center;
    height: 30px;
    /* border:1px solid #CC59D2; */
}
.descripcion-blog{
    margin: 0 10px;
    text-align:  justify;
    /* border:1px solid #540D6E; */
}

.leer-mas{
    cursor: pointer;
    display: inline-block;
    margin: 0 100px;
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #CC59D2;
    border: 3px solid var(--gradiente-dos);
}

.leer-mas:hover{
    color: #540D6E;
    background-color: #f3d1e5;
    border: 3px solid #f3d1e5;
    transform: scale(1.05);
}


@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .ulnav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color-secundario);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .ulnav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .ulnav li a{
        font-size: 20px;
    }
    .menu a:hover, .menu a.active{
        /* background: none; */
        color: var(--gradiente-dos);
        
        
    }
    #check:checked ~ .ulnav{
        left:0;
    }

    .contenedor-foto{
        display: none;
    }

    
}

/* .cabeza{
    /* background-image: url(../images/about1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    position: relative;
    border-radius: 4px solid yellow;  
    padding: 2 rem;
    text-align: center;
    border-radius: 40px solid red;
    background-image: url(../images/about1.jpg);
    width: 20%;
    height: 250px;
} */

h1{
    /* padding: 2 rem;
    text-align: center; */
}

.fondo{
    background-image: url(/images/about1.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.fondo2{
    background-color: var(--de-blanco);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.titulo{
    font-family: 'Work Sans', sans-serif;
    color: var(--color-secundario);
    text-align: center;
    font-weight: 700;
    font-size: 30px ;
   padding-top: 100px;
}

.fondo3{
    background-color:white  ;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.footer{
    background: linear-gradient(39.97deg,var(--gradiente-uno) .79%,var(--gradiente-dos) 79.79%);
    width: 100%;
    height: 25vh;
    border-top: 2px;
    text-align: center;
    padding-top: 44px;
}
.autor{
    font-family: 'Dancing Script';
    letter-spacing: 0.2rem;
    color: #fff;
    text-decoration: none;
    font-size: 26px ;
    
}

.redes{
    /* list-style: none; */
    padding-bottom: 15px;
}

.item{
    display: inline;
    padding: 0rem 0.5rem;
}

.social__icons {
    transition: all 0.17s ease-in-out;
    width: 36px;
    color: #551a8b;
}

.social__icons:hover {
    transform: scale(1.2);
    color: var(--color-secundario);
}



.aboutdescription{
    display: inline-block;
    border: 1px solid yellow ;
    width:  30%;
    margin: 20px 150px;
}

.photoabout{
    width: 35%;
    margin: 40px 20px 20px 20px;
    

}
/* seccion proyec6tos */

/* seccion sobre mi */
#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: var(--color-primario);
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 1px;
}

#sobremi .sobremi h2 span {
    color: #ff5080;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #ff5080;
    color: #fff;
}




/* fooo */
.portfolio {
  width: 100vw;
  background-color: var(--color-sec);
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.portfolio-heading h2{
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  width: 280px;
  background-color: var(--gradiente-dos);
  margin: 1em;
  
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(images/apy.png);
  background-size: cover;
}

.card__title {
  padding: 20px 38px;
  display: block;

}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.card__proyect-links a:hover{
    transform: scale(1.4);
    color: var(--color-secundario);
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  /* margin: 1em; */
  padding: 20px 10px 28px 10px;
}

/* .project-details-button a {
  text-decoration: none;
  color: #191c32;
} */

.detalle{
    border: 1px solid var(--gradiente-uno);
    border-radius: 0.5rem;
    color: var(--gradiente-uno);
    background-color: #fff;
    padding: 8px 10px;
}

.detalle:hover{
    border: 1px solid var(--color-secundario);
    color: #fff;
    background-color: var(--color-secundario);
}



